header {
    background-color: aqua;
    height: 4em;
    max-width: 70%;
    text-decoration: solid;
    vertical-align: middle;
    
}
main img {
    position: relative;
    bottom: 8em;
    float: right;
    
}
body {
    max-width: 70%;
    margin-left: 20%;
}
main {
    max-width: 70%;
}

main h1 {
    clear: both;
}

main ol li{
    list-style-type: disc;
}

footer {
    text-align: center;
    clear: both;
    background-color: aqua;
    max-width: 70%;

}

#date {
    color: #d4af37;
}

#myname {
    color: black;
    height: 2em;
    font-size: 3em;
    padding-left: 20%;
}