header h1 {
    color: black;
    background-color: skyblue;
    height: 2em;
    font-size: 2em;
    text-align: center;
}
#kisuk {
    float: right;
    position: relative;
}
nav ul {padding: 0;}
nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a{
    display: block;
    padding: .5rem 1rem;
    background-color: #09f128;
}

main h1 {
    clear: both;
}

main img {
    float: right;
}

footer {
    text-align: center;
    clear: both;
}