


/***************  HEADER  ************************/
header,
footer {
    padding: .5rem 2%;
    background-color: #0084ff;
}

header img {
    float: left;
    margin-right: 10px;
}

/***************  BODY  **************************/


/*************** NAV ***********************/
nav {
    background-color: #33cff7;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul a {
    display: flex;
    color: #fff;
    padding: .5rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul a:hover {
    background-color: darkcyan;
    
}

nav ul li.active a {
    background-color: #3aa3a3;
    color: #111;
    font-weight: bold;
}



/*************** MAIN *********************/
main {
    padding: .5rem 2%;
}

main section {
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    display: block;
    margin: 10px;
}

main section p {
    padding-top: 25%;
    font-size: 2rem;
}

#blue {
    
    background-color: #0084ff;
    border: 1px solid #0084ff;
}

#darkcyan {
    
    background-color: #3aa3a3;
    border: 1px solid #3aa3a3;
}

#cyan {
    
    background-color: #33cff7;
    border: 1px solid #33cff7;
}


/*************** FOOTER **********************/



.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

