@charset "utf-8";

header,
footer {
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 100%;
    text-align: center;
    background-color: aqua;
    color: #000;
    border-radius: 10px;
}

footer {
    font-size: 0.8rem;
}

h1 {
    font-size: 2rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 1px soild #999;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1rem;
}

p {
    text-align: justify;
    font-family: cursive;
}

section:nth-child(3) {
    grid-column: span 1;
}


body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
    color: #333;
    height: 100%;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
}
main ol {
    font-size: 1.2rem;
}
main img {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    margin-left: 10%;
    box-shadow: 0 0 30px rgb(0, 35, 49);

}
main section {
    border: 1px solid rgb(5, 151, 248);
    padding: 0 1rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: rgb(155, 214, 241);
}

main ol li {
    font-size: 1.2em;
    list-style-type: none;
    
}

/*Tablet view **********************************/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    section:nth-child(3){
        display: block;
        
    }

}

/*desktop view **********************************/
@media only screen and (min-width: 60em) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-child(3){
        grid-column: span 1;
    }
}