@media only screen and (min-width: 60em) {

    nav ul {
        display: flex;
    }


    /********* swapping images for article************/
    #article1 {
        display: block;
        margin: 0 auto;
    }

    #article2 {
        display: none;

    }

    /********* iframe swapping *******************/
    #iframe1 {
        display: block;
        float: right;
    }

    #iframe2 {
        display: none
    }

}