body {
	font-family: 'Ubuntu', sans-serif ;
	color: #000;
    margin: 0 auto;
    width: 50%;
}


table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

#black {
    font-style: italic;
}

#foot {
    font-size: 0.8em;
}

/***************table data***************/
table tbody th{
    background-color: #628ca6;
    color: #eee;
    font-weight: bold;
}
table tbody tr {
    background-color: #68bdb1;
}
table tbody tr.data1 {
    background-color: #c2e9e4;
}

table tr:nth-child(5) td:nth-child(3){
    background-color: #628ca6;
    
}

thead th {
    font-size: 1.6em;
}
thead, tfoot{
    background-color: #7fb9c2;
}

