@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
    margin: 100px auto;
    width: 50%;
}


table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

table {
    box-shadow: 10px 10px 15px #628ca6;
}

thead {
    background-color: #628ca6;
    color: white;
}

thead .title {
    background-color: #7fb9c2;
    color: black;
    font-size: 1.6em;
    font-weight: bold;
}

tfoot {
    font-size: 0.8em;
}

/***************table data***************/
/* table th{
    background-color: #628ca6;
    color: #eee;
    font-weight: bold;
} */


table tr:nth-child(5) td:nth-child(3){
    background-color: #628ca6;
    
}
tbody tr:nth-child(even){
    background-color: #e7ffed;
}
tbody tr:nth-child(odd){
    background-color: #e7f0ed;
}
table tr:nth-child(6) td:nth-child(1){
    font-style: italic;
}


thead, tfoot{
    background-color: #7fb9c2;
}

