@media only screen and (min-width: 60em){
#wrapper {
    width: 50%;
    margin: 0 auto;

}

.text-block {
    font-size: 0.8vw;
}

#sitename{
    font-size: 3rem;
}
#siteslogan{
    font-size: 2rem;
}

nav ul {
    display: flex;
}
/****************main text ******************/
main div.mainwrapper {
    word-break: normal;
}

#forecast {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/*************** form *******************/
form label.sbs {
    padding: .4rem 0;
}

/*********** gallery **************/
#gallerybody {
    grid-template-columns: 1fr 1fr 1fr;
}

/********* swapping images for article************/
#article2 {
    display: block;
    margin:0 auto;
    margin-left: 10px;
}
#article1 {
    display: none;
    
}

/*********** current weather ***************/
#text-block {
    margin-left: 10px;
    font-size: 0.5vw;
}

/* ************* contact us ****************
section {
    padding: 5px;
    margin: 5px;
    background-color: #33cff7;

}
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


iframe {
    width: 100%;
    height: 130px;
} */
}